html{
    background-color: black;
    /*https://commons.wikimedia.org/wiki/File:Polarlicht_2.jpg*/
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    font-family: sans-serif;
}

::placeholder{
    color: rgba(50,50,50);
}

textarea,input,select,button{
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
}

select:focus{
    background-color: lightslategray;
}

button{
    border-color: rgba(255,255,255,.8);
}

button:hover{
    background-color: rgba(255,255,255,.5);
}

.container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}

.content{
    background-color: rgba(255,255,255,.3);
    border: 1pt solid rgba(255,255,255,.8);
    border-radius: 15px;
    padding: 30px;
    margin: 2pt;
}

.flyin{
    animation-name: fly-in;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.content:hover{
    border-width: 2pt;
    margin: 1pt;
}

.hidden{
    display: none !important;
}

.menubar{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.menubar button{
    opacity: .7;
    padding: 10px;
    background-color: rgba(255,255,255,.2);
    border: 1pt solid rgba(255,255,255,.8);
    height: 65px;
    border-radius: 2px;
}

.menubar button:hover{
    background-color: rgba(255,255,255,.4);
}

@keyframes flash {
    0% {background-color: rgb(0,0,0,0);}
    50% {background-color: teal;}
    100% {background-color: rgb(0,0,0,0);}
}

@keyframes fly-in {
    0%{
       margin-top: -100vh;
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}