html{
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
}

.activeButton{
    background-color: rgba(0,128,128,.2);
}

#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#groceryList li{
    list-style:disc;
}

#menu div h3{
    text-align: center;
}

li:hover{
    background-color: rgba(0,128,128,.2);
}

li{
    border-radius: 5px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul{
    padding-left: 0;
}

.menumenu{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.listmenu{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}


.editorbar{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.editorbar button{
    height: 40px;
    animation: fade-in .5s
}

#addEditorIngredientButton{
    margin-bottom: 20px;
}

.recipeEditor p{
    margin-bottom: 3px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    background-color: rgba(255,255,255,.3);
    border: 1pt solid rgba(255,255,255,.8);
}

.recipeViewer input{
    width: 20px;
    text-align: center;
}

.bannerlogo{
    display: flex;
    align-items: center;
    animation: fly-side;
    animation-duration: .5s;
}

.title img{
    height: 50px;
    padding: 0;
}

h1{
    font-size: 40px;
}

.title h2{
    margin-bottom: 1px;
}

h3{
    margin: 0;
    padding: 0;
}

.banner{
    text-align: center;
    color: orange;
    margin: 0;
    padding: 0;
}

.menuItem{
    user-select: none;
}

#directionsInput{
    width: 100%;
    height: 30pt;
}

#recipeList ul{
    column-count: 2;
}

#inventoryList ul{
    column-count: 2;
}

.menuContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 1vh;
    gap: 1vh;
}

.ingredientWorkingArea ul{
    display: flex;
    flex-direction: column;
}

.ingredientWorkingArea li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 15px;
}

.recipesAndGrocery{
    justify-content: center;
    flex-direction: column;
    /*width: 100%;*/
}

.menuAndRecipeViewer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-aspect-ratio: 4/3){
    .ingredientWorkingArea ul{
        display: flex;
        flex-direction: column;
    }
    
    .ingredientWorkingArea li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 2px;
        border-bottom: none;
    }

    .editorbar{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 5px;
    }

    .editorbar button{
        height: auto;
        padding: 3px;
    }

    .menuAndRecipeViewer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .recipeViewerVisible{
        width: 45%;
    }

    .menuViewer{
        max-width: 60%
    }

    #menu{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipesAndGrocery{
        max-width: 45%;
    }

    #recipeList ul{
        column-count: 3;
    }

    #inventoryList ul{
        column-count: 4;
    }

    .menumenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.clicked{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

textarea{
    width: 100%;
    height: 150px;
}

#editCookTime{
    width: 35px;
}

@keyframes fly-side {
    0%{
        margin-right: 50vh;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


button{
    animation: fly-button;
    animation-duration: .5s;
}