html{
    background-color: black;
    /*https://commons.wikimedia.org/wiki/File:Polarlicht_2.jpg*/
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}

.content{
    background-color: rgba(255,255,255,.3);
    border: 1pt solid rgba(255,255,255,.8);
    border-radius: 15px;
    padding: 30px
}

.hidden{
    display: none !important;
}

.menubar{
    display: flex;
    flex-direction: row;
}