html{
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    background-color: rgba(255,255,255,.3);
    border: 1pt solid rgba(255,255,255,.8);
}

.recipeViewer input{
    width: 20px;
    text-align: center;
}

.bannerlogo{
    display: flex;
    align-items: center;
}

.title img{
    height: 50px;
    padding: 0;
}

h1{
    font-size: 40px;
}

.title h2{
    margin-bottom: 1px;
}

h3{
    margin: 0;
    padding: 0;
}

.banner{
    text-align: center;
    color: orange;
    margin: 0;
    padding: 0;
}

.menuItem{
    user-select: none;
}

#directionsInput{
    width: 100%;
    height: 30pt;
}

#recipeList ul{
    column-count: 2;
}

#inventoryList ul{
    column-count: 2;
}

.menuContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 1vh;
    gap: 1vh;
}

@media (min-aspect-ratio: 4/3){
    .menuAndRecipeViewer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menuViewer{
        width: 45%;
    }

    #menu{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipeViewer{
        width: 50%;
    }

    #recipeList ul{
        column-count: 3;
    }

    #inventoryList ul{
        column-count: 4;
    }
}

.clicked{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

@keyframes flash {
    0% {background-color: rgb(0,0,0,0);}
    50% {background-color: teal;}
    100% {background-color: rgb(0,0,0,0);}
}

textarea{
    width: 100%;
    height: 150px;
}