html{
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
}

.banner{
    text-align: center;
    color: orange;
}

.menuItem{
    user-select: none;
}

#directionsInput{
    width: 100%;
    height: 30pt;
}