html{
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
}

h3{
    margin: 0;
    padding: 0;
}

.banner{
    text-align: center;
    color: orange;
}

.menuItem{
    user-select: none;
}

#directionsInput{
    width: 100%;
    height: 30pt;
}

@media (min-aspect-ratio: 4/3){
    .menuAndRecipeViewer{
        display: flex;
        flex-direction: row;
        gap: 25px
    }

    .menuViewer{
        width: 45%;
    }

    #menu{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .recipeViewer{
        width: 50%;
    }
}