<%- include("partials/head.ejs") %>
    
    <div class="title">
        <div class="menubar">
            <button onclick="viewMenuAndRecipeViewer()">Whats on the Menu?</button>
            <button onclick="viewGroceryList()">Grocery List</button>
            <button onclick="viewJigsaw()">Jigsaw</button>
            <button onclick="viewInventory()">Inventory Manager</button>
            <a href="/recipes"><button>Recipe Manager</button></a>
        </div>
        <div id="userDisplay">
            <h3>Hello, <%= user.userName %></h3>
            <% if (user.logOut){ %>
                <button>Log Out</button>
            <% } %>
        </div>
        <div class="bannerlogo">
            <h1 class="banner" style="padding: 10px;">Orange Star</h1>
            <img src="./assets/images/logo.png" alt="Orange Star Logo">
        </div>
    </div>
    
    <div class="menuContainer menuAndRecipeViewer hidden">

        <div class="content menuViewer">
            <h2>Menu</h2>
            <div class="menumenu">
                <div>
                    <button id="menuBasedOnInventoryButton" onclick="whatCanICook()">Show what I can Cook based on inventory</button>
                    <button id="fullMenuButton" class="hidden" onclick="fullMenuButton()">See the Full Menu</button>
                </div>
                <div><input id="menuSearch" placeholder="Search"></div>
                <div>
                    <label for="clickAction">Click Action</label>
                    <select id="clickAction">
                        <option value="recipe">View Recipe</option>
                        <option value="cook">Cook It!</option>
                        <option value="grocery">Add to Grocery List</option>
                        <option value="category">Change Menu Category</option>
                        <option value="remove">Remove From Menu</option>
                    </select>
                </div>
            </div>
            <div class="container" id="menu"></div>
        </div>

        <div class="container recipesAndGrocery">
            <div class="content recipeViewer hidden flyin">
                <h2>Recipe Interface</h2>
                <div class="content" id="recipe"></div>
                <div class="editorbar hidden">
                    <button onclick="cookRecipeButton()">Use Inventory Ingredients</button>
                    <button onclick="addRecipeToGroceryListButton()">Add to Grocery List</button>
                    <button class="hidden" id="forceGroceryButton" onclick="forceRecipeToGroceryListButton()">Force to Grocery List</button>
                    <button onclick="editRecipeButton()">Edit Recipe</button>
                    <button class="hidden" id="shareRecipeButton" onclick="shareRecipeButton()">Share to Exchange</button>
                    <button id="recipeHelpButton" onclick="showRecipeHelp()">More</button>
                    <button onclick="hideRecipeViewer()">Close</button>
                </div>
                
                <div id="recipeHelpText" class="fade hidden">
                    <p>What time is dinner?</p>
                    <label for="hours">h</label><input id="hours" placeholder="Hours" value="<%= dinnerTime.hours %>">
                    <label for="hours">min</label><input id="minutes" placeholder="Min" value="<%= dinnerTime.minutes %>">
                    <button onclick="updateDinnerTimeButton()">Update</button>
                    <p>You can click on ingredients to remove them from the viewer and exclude them from being added to the grocery list/inventory. Don't worry, this doesn't remove them from recipe. Click on the recipe on the menu to get them back.</p>
                    <p>CTRL + Click adds individual ingredients from the recipe viewer directly to your grocery list. Does not check against inventory, and adds the item even if you already have it on hand.</p>
                    <ul>
                        <li>👁️ Ingredient is tracked and will be included in grocery/inventory calculations.</li>
                        <li>🍊 In your inventory.</li>
                        <li>⭐ On your grocery list</li>
                    </ul>
                    <p>'Force to Grocery List' skips checking if an item is already in inventory and adds all tracked ingredients to the grocery list.</p>
                    <p>The Share button copies the recipe to the Recipe Exchange, where others will be able copy and use your recipe.</p>
                </div>
            </div>
            
            <div class="content groceryListViewer">
                <h2>Grocery List</h2>
                <div class="listmenu">
                    <div>
                        <label for="groceryClickAction">Click Action</label>
                        <br>
                        <select id="groceryClickAction">
                            <option value="nothing">Nothing</option>
                            <option value="remove">Remove From List</option>
                            <option value="buy">Move to Inventory</option>
                        </select>
                    </div>
                    <div>
                        <input id="groceryInput" placeholder="Item">
                        <button onclick="addGroceryButton()">Add Item</button>
                    </div>
                </div>
                <div class="content" id="groceryList"></div>
                <div class="editorbar">
                    <button onclick="goShoppingButton()">Add Grocery List to Inventory</button>
                    <button onclick="bombGroceryList()">Clear Grocery List</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
       
        <div class="content inventoryViewer hidden">
            <h2>Inventory</h2>
            <div class="listmenu">
                <div>
                    <label for="inventoryClickAction">Click Action</label>
                    <br>
                    <select id="inventoryClickAction">
                        <option value="nothing">Nothing</option>
                        <option value="remove">Remove From List</option>
                    </select>
                </div>
                <div><input id="searchInventory" placeholder="Search"></div>
                <div>
                    <input id="inventoryInput" placeholder="Item">
                    <button onclick="addInventoryButton()">Add Item</button>
                </div>
            </div>
            <div class="content" id="inventoryList"></div>
        </div>
       
        <div class="container soloGrocery hidden"></div>
    
        
        <div class="content recipeEditor hidden">
            <h2>Recipe Editor</h2>
            <input id="editMenuId" type="hidden" placeholder="Category">
            <input id="editRecipeId" type="hidden" placeholder="Category">
            <input id="editItem" placeholder="Recipe Title">
            <input id="editCookTime">
            <label for="editCookTime">Cook Time (hours)</label>
            <p><u>Ingredients</u></p>
            <div class="ingredientWorkingArea"></div>
            <p>Check the checkbox next to ingredients to include in inventory/grocery list calculations. Leave an ingredient name blank to delete the ingredient.</p>
            <div><button id="addEditorIngredientButton" onclick="addEditorIngredient()">Add Ingredient</button></div>
            <textarea placeholder="Directions" id="editDirections"></textarea>
            <div class="editorbar">
                <button onclick="updateRecipeButton()">Update</button>
                <button onclick="viewMenuAndRecipeViewer()">Cancel</button>
            </div>
        </div>

        <div class="content jigsaw hidden">
            <h2>Jigsaw</h2>
            <p>Jigsaw can help with use what you have efficiently. Jigsaw identifies items in your cupboard that can't be cooked due to missing ingredients and recipes, and the suggests recipes to add to your grocery list so that you can make use of your entire pantry. Press the button below to run Jigsaw. Jigsaw may take some time to run.</p> 
            <div class="editorbar"><button onclick="jigsawMagicButton()">Work that Jigsaw Magic</button></div>
            <p>Click on recipes in the jigsaw report to add them to your grocery list.</p>
            <div id="jigsawReport" class="container"></div>
        </div>
    
    </div>

    <script src="./menu.js"></script>
    <script src="./recipe.js"></script>
    <script src="./list.js"></script>
    <script src="./interface.js"></script>
    <script src="./recipe-editor.js"></script>
    <script src="./jigsaw.js"></script>
    <script>
        drawMenu();
        startAnimation();
        initializeListInput();
        displayGroceryList();
        displayInventoryList();
        //initializeSearchInput("#menuSearch", "#menu", "li");
        initializeSearchInput("#searchInventory","#inventoryList","li");
        document.querySelector("#menuSearch").addEventListener("keyup", () => {
            searchFilter("#menu","li", document.querySelector("#menuSearch").value);
            hideEmptyMenuCategories();
        })
    </script>
</body>
</html>