<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange Star</title>
    <link rel="stylesheet" href="./glass.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
</head>
<body>

<div class="title">
    <div class="menubar">
        <a href="/"><button>Return to Menu, Planning, and Inventory</button></a>
    </div>
    <div class="bannerlogo">
        <h1 class="banner" style="padding: 10px;">Orange Star Recipe Manager</h1>
        <img src="./assets/images/logo.png" alt="Orange Star Logo">
    </div>
</div>

<div class="container menuAndRecipeViewer flyin">

    <div class="content recipeEditor">
        <h2>Recipe Editor</h2>
        <input id="editMenuId" type="hidden" placeholder="Category">
        <input id="editRecipeId" type="hidden" placeholder="Category">
        <input id="editItem" placeholder="Recipe Title">
        <input id="editCookTime">
        <label for="editCookTime">Cook Time (hours)</label>
        <p><u>Ingredients</u></p>
        <div class="ingredientWorkingArea"></div>
        <p>Check the checkbox next to ingredients to include in inventory/grocery list calculations. Leave an ingredient name blank to delete the ingredient.</p>
        <div><button id="addEditorIngredientButton" onclick="addEditorIngredient()">Add Ingredient</button></div>
        <textarea placeholder="Directions" id="editDirections"></textarea>
        <div class="editorbar">
            <button id="saveRecipeManagerButton" class="hidden" onclick="saveRecipeManagerButton()">Update Recipe</button>
            <button onclick="newRecipeManagerButton()">Save As New Recipe</button>
            <button id="deleteRecipeButton" class="hidden" onclick="deleteRecipeButton()">Delete Recipe</button>
            <button id="linkRecipeButton" class="hidden" onclick="linkRecipeButton()">Link Recipe to New Menu Item</button>
            <button id="clearRecipeEditor" onclick="clearRecipeEditorButton()">Clear Editor and Start a New Recipe</button>
        </div>
        <p>Note: Deleting a recipe also deletes all related menu items</p>
    </div>

    <div class="content recipeLibrary">
        <h2>Recipe Library</h2>
        <div id="recipeList"></div>
        <p>Click on a recipe to inspect</p>
    </div>
</div>

<script src="./menu.js"></script>
<script src="./recipe.js"></script>
<script src="./list.js"></script>
<script src="./interface.js"></script>
<script src="./recipe-editor.js"></script>
<script src="./recipe-manager.js"></script>    
</body>
</html>