<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange Star</title>
    <link rel="stylesheet" href="./glass.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
</head>
<body>